@{ 
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize">Syntax Patty Menu 2022</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/burgerbacon.jfif">
                    <img src="~/Images/burgerbacon.jfif" alt="Lights" style="width:100%; height:360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/Cheesy-Bacon-Cheeseburger-1.jpg">
                    <img src="~/Images/onionburger.jfif" alt="Nature" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/Smashburger-Feature.png">
                    <img src="~/Images/Smashburger-Feature.png" alt="Fjords" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/burgerbacon.jfif">
                    <img src="~/Images/burgerflavor.jfif" alt="Lights" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/onionburger.jfif">
                    <img src="~/Images/onionburger.jfif" alt="Nature" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/Smashburger-Feature.png">
                    <img src="~/Images/Smashburger-Feature.png" alt="Fjords" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/burgerbacon.jfif">
                    <img src="~/Images/burgerbacon.jfif" alt="Lights" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/onionburger.jfif">
                    <img src="~/Images/onionburger.jfif" alt="Nature" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Images/Smashburger-Feature.png">
                    <img src="~/Images/Smashburger-Feature.png" alt="Fjords" style="width: 100%; height: 360px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>